[Desktop Entry]
Categories=Application;Network;
Encoding=UTF-8
Name=Wireless Configuration Tool
Name[zh_TW]=無線網路卡設定
Name[zh_CN]=无线网路卡设定
Exec=sudo wlcardconfig
Icon=gnome-settings
Type=Application
Terminal=false
GenericName=wireless configuration tool
GenericName[zh_TW]=無線網路設定工具
GenericName[zh_CN]=无线网路设定工具
Comment=wireless configuration tool
Comment[zh_TW]=無線網路設定工具
Comment[zh_CN]=无线网路设定工具
