	<h2>Welcome to xPUD</h2>
	<p>You can control xPUD system by using this interface.</p>
	<table class="soft_background green"><tr>
	<td>
		<img src="image/ksysv.png" style="float: left;" />
		<strong>System Information</strong>
		<br />
		Version: xpud-lite
		<br />
		Kernel: 2.6.24-19
	</td>
	</tr></table>
	<h2>You may want to:</h2>
	<table class="soft_background orange">
	<tr>
		<td>
		<a href="#" onfocus = "this.blur()" onclick="show_menu(&quot;fixme&quot;);">
			<table><tr><td class="image">
				<img src="image/startup_wizard.png" />
			</td><td>
				<strong>Run Wizard</strong><br />
				First time start-up wizard
			</tr></table>
		</a>
		</td>
		<td>
		<a href="#" onclick="confirm_off();" onfocus = "this.blur()">
			<table><tr><td class="image">
					<img src="image/logout.png" />
			</td><td>
					<strong>Shutdown</strong><br />
					Power off this machine
			</tr></table>
		</a>
		</td>
		<td>
		<a href="#" onfocus = "this.blur()" onclick="show_menu(&quot;fixme&quot;);">
			<table><tr><td class="image">
					<img src="image/assistant.png" />
			</td><td>
					<strong>Get Help</strong><br />
					Learn more about xPUD
			</tr></table>
		</a>
		</td>
	</tr>
	</table>
