
/* Basic
---------------------------------------------------------- */

body {
	margin:0px;
	padding:0 0 15px;
	background: #ffffff url("images/bg.jpg"); 
}
	body, input, textarea {
		font: 12px Arial, Tahoma, Verdana, sans-serif;
		color: #445b87;
	}
#root {
	min-width:760px;
}

/* library
---------------------------------------------------------- */
form, dl, dt, dd, ol, ul, li, h1, h2, h3, h4, p {
	margin: 0;
	padding: 0;
	}
img { border: 0; }
hr { display: none; }
a {
	color: #182c54;
	text-decoration: none;
}
a:hover {
	text-decoration: none;
}

/* #header
---------------------------------------------------------- */
#header {
	height:90px;
	position: relative;
	}
	#header h1{
		position: absolute;
		left:30px;
		top:17px;
		width:91px;
		height:57px;
	}
		#header h1 a {
			display: block;
			height:57px;
		}
		#header h1 span {
			display: none;
		}
	#header h2 {
		position: absolute;
		left:144px;
		top:7px;
		width:354px;
		height:75px;
	}
		#header h2 span {
			display: none;
		}
	.offline,
	.online {
		float: left;
		right:13px;
		top:20px;
		padding: 21px 15px 11px 8px;
		color:#a72f1e;
		font-size:14px;
		line-height:0.9em;
		text-align:right;
		min-height:26px;
	}
	.disk {

		left:15px;
		top:0px;
		padding: 21px 10px 11px 8px;
		font-size:14px;
		text-align:right;
		min-height:26px;
  	}

	* html #header p.offline,
	* html #header p.online {
		height:48px;
		height:26px;
	}
	.online {
		color:#237516;
	}
	.offline strong,
	.online strong {
		display: block;
	}

/* #nav
---------------------------------------------------------- */
#nav {
	border-top:1px solid #fff;
	background:#003399;
	min-height:18px;
	margin: 0 0 13px;
	padding: 0 0 0 12px;
}
* html #nav {
	height:18px;
}
#nav ul:after {
	content: "."; 
	display: block; 
	height:0; 
	clear: both; 
	visibility: hidden;
}
/* Hides from IE-mac \*/
* html #nav ul {
	height: 1px;
}
#nav ul {
	display:block;
}
/* End hiding from IE-mac */

	#nav ul li {
		float: left;
		color:#fff;
		text-transform: uppercase;
		list-style: none;
		letter-spacing:0.06em;
		font-size:11px;
	}
	#nav ul li.home {
		margin: 0 47px 0 0;
	}
		#nav ul li a {
			padding:2px 12px 2px;
			color:#fff;
			text-decoration: none;
			display:block;
		}
		#nav ul li a:hover {
			color:#000066;
			background:#dce7ef;
		}


/* #content
---------------------------------------------------------- */
#content {
	margin:0 17px;
}


/* GFX Corners */
.box {
	background:#eff3fa url("images/grid/borders.gif") 0 0 repeat-y;
	margin: 0 0 9px;
}
* html .box {
	height:1px;
}
.box .box-c1 {
	background: url("images/grid/borders.gif") 100% 0 repeat-y;
}
.box .box-c2 {
	background:url("images/grid/box-c1.gif") 100% 0 no-repeat;
	
}
.box .box-c3 {
	background:url("images/grid/box-c2.gif") 0 100% no-repeat;
}
.box .box-body {
	background:url("images/grid/box-c3.gif") 100% 100% no-repeat;
	padding:0 2px 8px;
	min-height: 300px;
}
* html .box .box-body {
	height:1px;
}
/* GFX Corners  - type 2 */
.box-2 {
	background:#fff url("images/grid/borders.gif") 0 0 repeat-y;
	margin: 0 0 9px;
}
* html .box-2 {
	height:1px;
}
.box-2 .box-c1 {
	background: url("images/grid/borders.gif") 100% 0 repeat-y;	
}
.box-2 .box-c2 {
	background:url("images/grid/box-2-c1.gif") 100% 0 no-repeat;
	
}
.box-2 .box-c3 {
	background:url("images/grid/box-2-c2.gif") 0 100% no-repeat;
}
.box-2 .box-body {
	background:url("images/grid/box-2-c3.gif") 100% 100% no-repeat;
	padding:0 2px 2px;
}
* html .box-2 .box-body {
	height:1px;
}


/* header-box */
.header-box {
	margin:0px 0 0px -2px; 
	background: #AAAAFF url("images/back.gif") 100% 100% repeat;

}

.box-2 .header-box {
	background:#AAAAFF url("images/back.gif") 100% 100% repeat;
}
	.header-box h2 {
		background:url("images/grid/header-box_1.gif") 0 0 no-repeat;
		font-size:16px;
		font-weight:bold;
		color:#30486E;
		padding:10px 20px 12px 12px;
	}
	.header-box h2 strong {
		font-weight:bold;
		font-size:12px;
	}

#content h3,
#content table {
	clear: left;
}
	#content h3{
		font-size:14px;
		font-weight:bold;
		color:#182c54;
		margin:0 12px;
	}
	#content h4{
		font-size:14px;
		font-weight:normal;
		color:#445b87;
		margin:0 12px 15px;
	}
	#content dl {
		margin:0 13px 15px;
	}
		#content dl h3,
		#content dl h4{
			margin-left:0;
			margin-right:0;
		}
	
	/* playback-options */
	.now-playing {
		margin: 0 350px 0 0;
	}
	.player {
		width:330px;
		float: right;
		padding:9px 0 0 20px;
	}
	
	/* playback-options */
	.playback-options {
		background:url("images/grid/dots.gif") 0 0 repeat-x;
		margin:0 0 20px 12px;
		padding: 23px 0 1px;
	}
		#content .playback-options dl {
			margin-left:0;
			margin-right:0;
		}
			#content .playback-options dl dt {
				font-weight: bold;
				color:#182c54;
				margin: 0 0 6px;
			}
			#content .playback-options dl dd {
				padding: 0 0 8px;
			}
				/* Hides from IE-mac \*/
				* html #content .playback-options dl dd {
					height: 1px;
					height: auto;
				}
				/* End hiding from IE-mac */
				#content .playback-options dl dd a {
					padding: 2px 0 2px 26px;
				}
				/* Hides from IE-mac \*/
				* html #content .playback-options dl dd a {
					height: 1px;
				}
				/* End hiding from IE-mac */

				#content .playback-options dl dd.play a {
					background: url("images/grid/icon_play.gif") 0 0 no-repeat;
				}
	
				#content .playback-options dl dd.play a:hover {
					background: url("images/grid/icon_play_on.gif") 0 0 no-repeat;
				}
				#content .playback-options dl dd.stream a {
					background:url("images/grid/icon_stream.gif") 0 0 no-repeat;
				}
				#content .playback-options dl dd.stream a:hover {
					background:url("images/grid/icon_stream_on.gif") 0 0 no-repeat;
				}
				#content .playback-options dl dd.delete a{
					background:url("images/grid/icon_delete.gif") 0 0 no-repeat;
				}
				#content .playback-options dl dd.delete a:hover{
					background:url("images/grid/icon_delete_on.gif") 0 0 no-repeat;
				}

	/* table */
	.table {
		background:#E8EEF7;
		margin:-5px 0px -0px;
		padding:0;
		width:100%;
	}

	.td{
		vertical-align:top;
		padding:2px 11px 3px;
		font-size:12px;
		border-top-style: solid;
		border-top-width: 1px;
		border-top-color: #cccccc

	}
	.tda{
		vertical-align:middle;
		padding:2px 11px 3px;
		font-size:12px;
		border-top-style: solid;
		border-top-width: 1px;
		border-top-color: #cccccc

	}
	#content table th {
		background:#e7efff;
		font-weight:bold;
		font-size:10px;
		text-align:left;
		border-top-style: hidden;
	}
	#content table col.date {
		width:6%;
	}
	#content table col.session {
		width:30%;
	}
	#content table col.playback {
		width:26%;
	}
	#content table col.panellists {
		width:38%;
	}

	#content table tr.odd td  {
		background:#eff3fa;
	}
	#content table tr.odd.now-playing td,
	#content table tr.now-playing td{
		background:#99a5b8;
		color:#fff;
		font-weight:bold;
	}
	#content table td img {
		vertical-align:middle;
		margin:0 3px;
	}
