[Desktop Entry]
Categories=Application;Network;
Encoding=UTF-8
Name=LinNeighborhood
Name[zh_TW]=LinNeighborhood 網路芳鄰
Name[zh_CN]=LinNeighborhood 网上邻居
Exec=sudo /usr/local/bin/linneighborhood.sh
Icon=gnome-settings
Type=Application
Terminal=false
GenericName=An SMB network browser for Linux and X11
GenericName[zh_TW]=網路芳鄰
GenericName[zh_CN]=网上邻居
Comment=An SMB network browser for Linux and X11
Comment[zh_TW]=網路芳鄰
Comment[zh_CN]=网上邻居
