	<h2>Applications</h2>
	<table class="soft_background orange">
	<tr>
		<td>
		<a href="#" onclick="system('firefox');" onfocus = "this.blur()">
			<table><tr><td class="image">
				<img src="image/firefox4.png" onload="resume_notify(this,'firefox.pud4');" />
				<div class="notify_hide"><div></div></div>
			</td><td>
				<strong>Web Browser</strong><br />
				firefox
			</tr></table>
		</a>
		</td>
                <td>
                <a href="#" onclick="show_program(&quot;vlc.pud3&quot;);" onfocus = "this.blur()">
                        <table><tr><td class="image">
                                <img src="image/noatun.png" onload="resume_notify(this,'vlc.pud3');" />
                                <div class="notify_hide"><div></div></div>
                        </td><td>
                                <strong>Media Player</strong><br />
                                vlc
                        </tr></table>
                </a>
                </td>
		<td>
		<a href="#" onclick="show_program(&quot;leafpad.pud2&quot;);" onfocus = "this.blur()">
			<table><tr><td class="image">
				<img src="image/kedit.png" onload="resume_notify(this,'leafpad.pud2');" />
				<div class="notify_hide"><div></div></div>
			</td><td>
				<strong>Text Editor</strong><br />
				leafpad
			</tr></table>
		</a>
		</td>
	</tr>

	<tr>
                <td>
                <a href="#" onclick="show_program(&quot;xterm.pud1&quot;,event);" onfocus = "this.blur()">
                        <table><tr><td class="image">
                                <img src="image/konsole.png" onload="resume_notify(this,'xterm.pud1');" />
                                <div class="notify_hide"><div></div></div>
                        </td><td>
                                <strong>Terminal</strong><br />
                                lilyterm 
                        </tr></table>
                </a>
                </td>
	</tr>
	</table>
